{%- extends "base.html" %}


<body>
    {% block content %}
    <div class="container">

        <div class="row">

            <div class="column25">

                <div class="card border-secondary mb-3" style="width: 100%;">
                    <div class="card-header">Admin</div>
                    <div class="card-body">
                        <a href="/populate">populate</a>
                    </div>
                    
                </div>
                {%- include "message.html" %}

            </div>
        
			<div class="column50">

                <div class="card border-secondary mb-3" style="width: 100%;">
                    <div class="card-header">Users</div>
                    <div class="card-body">
                        
						{% for user in users %}
						<ul class="navbar-nav me-auto list-group">
							
                            <li class="nav-item">
								<div class="card-body">
                                    {{user.id}}
                                    {{user.username}}
                                    {{user.email}}
                                    {{user.is_admin}}
                                    {{user.groups}}
                                </div>
							</li>
							
						</ul>
                        
                        {% endfor %}

					</div>
                </div>

            </div>

        </div>

    </div>

	
    {% endblock %}
</body>
