{%- extends "base.html" %}

<body>
    {% block content %}
    <div class="container">

        <div class="row">

            <div class="column100 center">

                <div class="card border-secondary mb-3" style="width: 100%;">
                    <div class="card-header h1">Help</div>
                    <div class="card-body">
                        Help for EDITH
                    </div>
                </div>

				<div class="card border-secondary mb-3" style="width: 100%;">
                    <div class="card-header">Help TODO</div>
                    <div class="card-body">
                        TODO...
                    </div>
                </div>


            </div>
        
        </div>

    </div>

	{%- include "footer.html" %}

	{% endblock %}

</body>

