{% set status_map = {
    "secondary": "unknown",
    "info": "processing",
    "warning": "warning",
    "success": "success",
    "danger": "error",
} %}
<div class="card border-secondary mb-3" style="width: 100%;">
    <div class="card-header h5">Activity</div>
    <div class="card-body">
        <p class="card-text">Activity for runs/analyses sequenced, analyzed, queued, running, archived ans availabled in reposirory.</p>
    </div>
    <ul class="list-group">
        {% for step in activity_statistics %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="card-text">
                {{ step }}
            </span>
            <span class="card-text">
                {% for status in activity_statistics.get(step) %}
                    {% set status_number = activity_statistics.get(step).get(status) %}
                    {% set status_msg = status_map.get(status) %}
                    <span class="badge bg-{{status}} rounded-pill" title="{{status_number}} runs {{status_msg}}">{{status_number}}</span>
                {% endfor %}
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
