
<div class="card border-secondary mb-3" style="width: 100%;">
    <div class="card-header h5">Activity</div>
    <div class="card-body">
        <p class="card-text">Activity for runs/analyses sequenced, analyzed, queued, running, archived ans availabled in reposirory.</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="card-text">
                Sequencing
            </span>
            <span class="card-text">
                <span class="badge bg-success rounded-pill" title="64 runs complete">64</span>
                <span class="badge bg-warning rounded-pill" title="3 runs in progress">3</span>
                <span class="badge bg-danger rounded-pill" title="0 runs failed">0</span>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="card-text">
                Analysis
            </span>
            <span class="card-text">
                <span class="badge bg-success rounded-pill" title="1024 analyses complete">1024</span>
                <span class="badge bg-warning rounded-pill" title="3 analyses in progress">3</span>
                <span class="badge bg-danger rounded-pill" title="1 analyses failed">1</span>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="card-text">
                Repository
            </span>
            <span class="card-text">
                <span class="badge bg-success rounded-pill" title="1024 analyses availabled">1024</span>
                <span class="badge bg-warning rounded-pill" title="3 analyses in progress">3</span>
                <span class="badge bg-danger rounded-pill" title="1 analyses failed">1</span>
            </span>
        </li>
    </ul>
</div>
